---
title: Richard Lindsay
---

%header
  %h1 Richard Lindsay
  %nav
    %ul
      %li
        = link_to 'Instagram', '/about'
      %li
        = link_to 'Twitter', '/contact'
      %li
        = link_to 'LinkedIn', '/contact'

%main
